button{
    width: 15.625rem;
    height: 5rem;
    font-family: Roboto, sans-serif ;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
}

button:hover{
    background-color: #00471b;
}

.botonClick{
    background-color: #002ead;
}

.botonReiniciar{
    background-color: #5a01a7;
}

